@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Roboto:wght@300&family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*GLOBALS*/
html {
  font-size: 62.5%;
  font-family: "Alegreya", sans-serif; }

.container-1 {
  max-width: 1506px;
  margin: 0 auto; }

.container-2 {
  max-width: 1080px;
  margin: 0 auto; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

h1 {
  font-family: "Alegreya", sans-serif;
  font-size: 3.6em; }

h2 {
  font-family: "Alegreya", sans-serif;
  font-size: 2.4em; }

p {
  font-family: "Roboto", sans-serif; }

/*HEADER*/
header {
  background-color: #BFDE4B;
  position: sticky;
  top: 0; }

.navbar {
  max-height: 20vh;
  justify-content: space-around; }
  .navbar__menu {
    flex-basis: 50%;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    list-style: none;
    font-weight: bold; }
    .navbar__menu--link {
      font-size: 1.4em;
      text-decoration: none;
      color: #0b0c0d;
      font-family: "Alegreya", sans-serif;
      padding: 15px;
      border-radius: 5px; }
      .navbar__menu--link:hover {
        background-color: #cfeb54; }

/*MAIN HOME*/
#home {
  border-bottom: 3px solid #FF7A00; }

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1080px;
  margin: auto; }

.cont__home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px; }

.home__picture {
  background-color: black; }
  .home__picture--tek {
    justify-content: center; }

.tittle-tek {
  padding: 4rem; }
  .tittle-tek__descrip {
    font-size: 2em;
    justify-content: center; }

/*ABOUT-US*/
#nos {
  border-bottom: 3px solid #FF7A00; }

main div .cont__about {
  height: 100vh;
  max-width: 1080px; }
  main div .cont__about__title1 {
    height: 30vh; }

.cont__text {
  margin-top: 5rem;
  height: 33rem;
  width: 100%;
  align-items: center;
  justify-items: right; }

.bg-img {
  max-width: 1506px; }

.about__title2 {
  font-size: 3em;
  width: 50%; }

.title-a {
  border-right: 20px solid #FF7A00;
  padding: 2rem; }

.title-b {
  order: 1;
  border-left: 20px solid #FF7A00;
  padding: 3rem; }

.title-c {
  border-right: 20px solid #FF7A00;
  padding: 3rem; }

.about__text {
  margin: 20px;
  align-self: center;
  justify-content: center;
  text-align: justify; }
  .about__text--parr {
    font-size: 1.6em;
    width: 65%; }

.text-myv {
  justify-content: flex-end; }

#pys {
  border-bottom: 3px solid #FF7A00; }

.pys__info {
  height: 25%; }

.pys__pedu {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 20px;
  margin: 16rem 0; }
  .pys__pedu .pd-g1 {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: flex-end; }
  .pys__pedu .pd-g2 {
    grid-column: 1/2;
    grid-row: 2/3; }
  .pys__pedu .pd-g3 {
    grid-column: 2/3;
    grid-row: 1/3; }
    .pys__pedu .pd-g3 .img-1 {
      border-left: 15px solid #FF7A00; }

.pys__resolados {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  gap: 20px;
  margin: 16rem 0; }
  .pys__resolados .r-g1 {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center; }
  .pys__resolados .r-g2 {
    grid-column: 2/3;
    grid-row: 2/3; }
  .pys__resolados .r-g3 {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: flex-end; }
    .pys__resolados .r-g3 .img-2 {
      border-right: 15px solid #FF7A00; }

.pys__presas {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 20px;
  margin: 16rem 0; }
  .pys__presas .pr-g1 {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: flex-end;
    justify-self: flex-end; }
  .pys__presas .pr-g2 {
    grid-column: 1/2;
    grid-row: 2/3; }
  .pys__presas .pr-g3 {
    grid-column: 2/3;
    grid-row: 1/3; }
    .pys__presas .pr-g3 .img-3 {
      border-left: 15px solid #FF7A00; }

.pys__rock {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  gap: 20px;
  margin: 16rem 0; }
  .pys__rock .dyc-g1 {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center; }
  .pys__rock .dyc-g2 {
    grid-column: 2/3;
    grid-row: 2/3; }
  .pys__rock .dyc-g3 {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: flex-end; }
    .pys__rock .dyc-g3 .img-4 {
      border-right: 15px solid #FF7A00; }

.pys__text--item {
  font-size: 1.8em; }

/*FOOTER*/
footer .foot {
  background-color: #BFDE4B;
  max-height: auto;
  justify-content: space-between;
  align-items: center; }
  footer .foot__text {
    font-size: 1em !important;
    color: #0b0c0d;
    width: 40%;
    margin: 2rem; }
  footer .foot__link {
    width: 30%;
    display: flex;
    justify-content: space-around; }
    footer .foot__link--icon {
      height: 60px; }
