@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Roboto:wght@300&family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*GLOBALS*/
html {
  font-size: 62.5%;
  font-family: "Alegreya", sans-serif; }

.container-1 {
  max-width: 1506px;
  margin: 0 auto; }

.container-2 {
  max-width: 1080px;
  margin: 0 auto; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

h1 {
  font-family: "Alegreya", sans-serif;
  font-size: 3.6em; }

h2 {
  font-family: "Alegreya", sans-serif;
  font-size: 2.4em; }

p {
  font-family: "Roboto", sans-serif; }

/*HEADER*/
header {
  background-color: #BFDE4B; }

.navbar {
  max-height: 20vh;
  justify-content: space-around; }
  .navbar__menu {
    flex-basis: 50%;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    list-style: none;
    font-weight: bold; }
    .navbar__menu--link {
      font-size: 1.4em;
      text-decoration: none;
      color: #0b0c0d;
      font-family: "Alegreya", sans-serif; }

/*FOOTER*/
footer .foot {
  background-color: #BFDE4B;
  max-height: auto;
  justify-content: space-between;
  align-items: center; }
  footer .foot__text {
    font-size: 1em !important;
    color: #0b0c0d;
    width: 40%;
    margin: 2rem; }
  footer .foot__link {
    width: 30%;
    display: flex;
    justify-content: space-around; }
    footer .foot__link--icon {
      height: 60px; }

/*MAIN HOME*/
.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1080px;
  margin: auto; }

.cont__home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px; }

.home__picture {
  background-color: black; }
  .home__picture--tek {
    justify-content: center; }

.tittle-tek {
  padding: 4rem; }
  .tittle-tek__descrip {
    font-size: 2em;
    justify-content: center; }

.bout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  height: 100%; }
