
/*FOOTER*/ 

footer .foot {
    background-color: $quarter;
    
    justify-content: space-between;
    align-items: center;
    &__text {
        font-size: 1em !important;
        color: $principal;
        width: 40%;
        margin: 2rem;
        }
    &__link{
        width: 30%;
        display: flex;
        justify-content: space-around;
        &--icon{
            height: 60px;
        }
    }
}


@media screen and (min-width: 1024px){
    footer .foot {
       
        &__text {            
            width: 40%;           
        }
    }
}

@media screen and (max-width: 1023px){
    .footer{
        max-width: 1023px;
    }
    footer .foot{
        display: flex;
        flex-direction: column;
       
        &__text{
            width: 100%;
            justify-content: center;
            margin: 0;
            text-align: center;
        }
        &__link{
            &--icon{
                height: 40px;
            }
        }
    }
    .parrafo{
        width: 1023px;
    }
}




@media screen and (max-width: 599px){

    .foot__img--tipography{
        height: 40px;
    }
}





