
/*FOOTER*/ 

footer .foot {
    background-color: black;
    max-height: auto;
    justify-content: space-around;
    align-items: center;
}

.foot__text {
    font-size: 0.9em !important;
    color: $secondary;
    width: 40%;
    }

