/*HEADER*/
header{
    background-color: $quarter;
    position: sticky;
    top: 0;
    z-index: 1;
    
}
.navbar{ 
    max-height: 20vh;
    justify-content: space-around;   
    
} 

.nav__imput:checked + .nav__menu{
    background-color: $quarter-b;
}
.nav__label, .nav__imput{
    display: none;
}

.navbar__menu {  
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    list-style: none;
    font-weight: bold;
    &--item{
        align-self: center;
    }

    &--link{
        font-size: 1.4em;
        text-decoration: none;
        color: $principal;
        font-family: $font-primary;
        padding: 15px;
        border-radius: 5px;
        transition: 0.2s;
        &:hover {
            background-color: rgb(207, 235, 84);
        }
    }       
}    



@media screen and (max-width: 1023px){
    .navbar{
        display: grid;
        place-items: center;
        &__picture--img{
            height: 37px;
        }
        &__menu{
            gap: 30px;
        }
        &__menu--link{
            padding: 0;
        }

    }
} 

@media screen and (max-width: 599px){
    .header{
        position: static;
        top: 0;
       
    }

    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav__label{
        display: block;
        cursor: pointer;
    }
    .nav__menu{
        position: fixed;
        top: 55px;
        bottom: 0;
        
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        
    }
    .nav__imput:checked + .nav__menu{
        clip-path: circle(100% at center);
    }
    
}