/*HEADER*/
header{
    border: 5px, solid;
}
.navbar{ 
    max-height: 20vh;
    justify-content: space-around;

    &__menu {
        flex-basis: 50%;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        list-style: none;
        font-weight: bold;

        &--link{
            font-size: 1.4em;
            text-decoration: none;
            color: $principal;
            font-family: $font-primary;
            
        }
       
    }
}