/*ABOUT-US*/
#nos{
    border-bottom: 3px solid $terciary;
}

main div .cont__about{
    height: 100vh;
    max-width: 1080px;
    &__title1{
        height: 30vh;
    }

}


.cont__text {
    margin-top: 5rem;
    height: 33rem;
    width: 100%; 
    align-items: center;
    justify-items: right;
    
    
}

.bg-img{
    max-width: 1506px;
}


.about__title2{
    font-size: 3em;
    width: 50%;
    // height: 20rem;  
     
}
.title-a {
    border-right: 20px solid $terciary;
    padding: 2rem;
}
.title-b{
    order: 1;
    border-left: 20px solid $terciary;
    padding: 3rem;
   
}

.title-c{
    border-right: 20px solid $terciary;
    padding: 3rem;
}

.about__text{
    margin: 20px;
    align-self: center;
    justify-content: center;
    text-align: justify;
    &--parr{
        font-size: $size-desc;
        width: 65%;
    }
}

.text-myv{
    display: inline-grid;
    flex-direction: column;
    justify-items: flex-end;
    
}