/*CONTACT*/

#contact{
    border-bottom: 3px solid $terciary;
}

#main-contact{
    background-color: $quarter-b;
}


.cont__elements{
    margin-top: 40px;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;

    
    

    .cont__form{
        height: 70vh;
        width: 40%;
        gap: 10px;
       

        
    }
    .cont__text--item{
        font-size: $size-title2;
        
    }
    
    .cont__list{
        list-style: url('../public/img/contact/carabiner.png');
        font-size: $size-title3;
    }
    
    
}

#nya-height{
    height: 25px;
}

@media screen and (min-width: 600px){
    
    .cont__cont__text--item{
        display: none;
    }
    .cont__form{
        height: 70vh;
        width: 40%;
        gap: 10px;
    }
    .cont__flechita{
            
        @keyframes flechita {
            0% {rotate: (45deg);}
            50% {rotate: (0deg);}
            100% {rotate:(45deg);}            
        }
        animation-name: flechita;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    } 
        
}

/*MEDIA QUERIES CONTACT*/
@media screen and (max-width: 1023px){
.cont__flechita{

    display: none;
    .cont__text--item{
        font-size: $size-title3;
        
    }
    
    .font__list{
        font-size: $size-desc;
}
}
}


@media screen and (max-width: 599px){

    .cont__title{
        font-size: $size-title3;
    }
   
    
    .cont__elements{
        margin: 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .cont__cont__text{

        
        &--item{
            font-size: $size-legal;
            text-align: justify;
            
        }
    }
    .cont__form{
        height: auto;
        width: 100%;
        gap: 5px;
    }

    
    .cont__cont__list{
        display: none;
    }
}
