/*CONTACT*/

#contact{
    border-bottom: 3px solid $terciary;
}

#main-contact{
    background-color: $quarter-b;
}


.cont__elements{
    margin-top: 40px;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    


    .cont__form{
        height: 70vh;
        width: 40%;
        gap: 10px;
        
    }
    .cont__text--item{
        font-size: $size-desc;
        margin-bottom: 35px;
    }
    
}
#nya-height{
    height: 25px;
}