/*GALLERY*/


#gallery{
    border-bottom: 3px solid $terciary;
}

.cont__gallery{
    margin: 10rem 0;
    
    .gall__pic{
        display: flex;
        justify-content: space-between;
        margin: 5rem 0;
        
        
        }   
        &--cont{
            display: inline-grid;
            .h3-subtitle{
                font-size: $size-title3;       
                justify-self: center;
            }
        } 
        
    }
    
.yt__video{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
    
.subtitle-gal{
    background-color: $terciary-b;
}
article .subtitle-gal{
    
    &-item{    
        display: flex;        
        justify-content: center;
    }  
    &-description{
        font-size: $size-info;
        margin: 5px 0;
        display: flex;
        justify-content: center;
    }  
}


/*MEDIAS QUERIES GALLERY*/
@media screen and (min-width:1024px) {
    .gall__pic--img{
        opacity: 0.6;
        &:hover{
            opacity: 1;            
            border: 3px solid $terciary;
            border-radius: 5px;
        }
    }
    
}

@media screen and (max-width: 1023px){

    .cont__gallery{
        margin: 5rem 0;
        
        .gall__pic{
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            &--cont{
                justify-self: center;               
            }
        }
        .h3-subtitle{
            text-align: center;
        }
    }
    
    .yt__video{
        display: flex;
        flex-direction: column;
        
    }
}
        
        
       

@media screen and (max-width: 599px){

    .title-gal{
        font-size: $size-title3;
    }
    .subtitle-gal-item{
        font-size: $size-info;
    }
    .cont__gallery{
        margin: 2rem;
         .gall__pic{
            display: flex;
            flex-direction: column;
            justify-items: center;
           &--cont{            
            margin: 3rem 5rem;
           }
           
            
           
        }
    }
    .yt__video--item{
        width: 300px;
        height: 168.75px;
        
    }
}



