/*MAIN HOME*/

#home{
    border-bottom: 3px solid $terciary;
}

.background__home{
    background-color: black;
}
.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1080px;
    margin: auto;   
    
}
.cont__home{
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
}


.home__picture{
    background-color: black;

    &--tek{
        justify-content: center;
    }
}


.tittle-tek{
    padding: 4rem;
    
    &__descrip{
        margin-top: 30px;
        font-size: $size-title2;
        justify-content: center;
        color: $secondary;
    }
    
}

.home__enlaces{
    margin: 40px 0;
    justify-content: space-between;
    &--link{
        text-decoration: none;
        text-align: center;
        font-size: $size-info;
    }
    &--img{
        opacity: 0.6;
        height: 220px;
        padding: 8px;
        border: 1.5px solid $secondary;
        border-radius: 10px;
        transition: 0.15s;
        
    }
    &--img:hover{
        opacity: 1;
    }

}
.subtitle__img{
    
    color: $secondary;
    font-size: $size-info;
}

/*MEDIAS QUERIES HOME*/
@media screen and (max-width: 1023px){
    .main{
        display: grid;
        place-content: center;
        height: 100%;
        max-width: 1080px;
        margin: auto;  
    }
    .home__picture{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--tek{
            height: 200px;
        }
        &--back{
            width: 600px;
        }
    }
    .home__enlaces{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }
    
}




@media screen and (max-width: 599px){
    .home__picture{       
        &--tek{
            height: 100x;
        }
        &--back{
            display: none;
        }
    }
    .home__enlaces{
        display: flex;
        flex-direction: column;

    }
    .tittle-tek__descrip{
        font-size: $size-desc;
    }
}

