$principal: #0b0c0d; 
$secondary: #fff;
$terciary: #FF7A00;
$quarter: #BFDE4B;  
$font-primary: "Alegreya", sans-serif;
$font-secondary: "Roboto", sans-serif; 

$size-title1: 3.6em;
$size-title2: 2.4em;
$size-title3: 2em;
$size-desc: 1.8em;
$size-info: 1.4em;
$size-legal: 0.9em;
 

