$principal: #0b0c0d; 
$secondary: #fff;
$terciary: #FF7A00;
$quarter: #BFDE4B;  
$font-primary: "Alegreya", sans-serif;
$font-secondary: "Roboto", sans-serif; 

$font-title1: 3.6em;
$font-title2: 2.4em;
$font-desc: 1.8em;
$font-info: 1.4em;
$font-legal: 0.9em;
 

